# 1- Requêtes SparkSQL

In [1]:
pip install findspark

Requirement already satisfied: findspark in c:\users\hp\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

In [2]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark'

In [3]:
from pyspark import SparkContext

In [4]:
from pyspark.sql import SQLContext

# INITIALIZING SPARK SESSION

In [5]:
from pyspark.sql import SparkSession

sc = SparkSession \
    .builder \
    .appName("Python Spark SQL ") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [6]:
sc

In [7]:
sqlContext = SQLContext(sc)
sqlContext

## Importer les données

In [8]:
from pyspark.sql import SparkSession  
scSpark = SparkSession \
    .builder \
    .appName("Python Spark SQL: Reading CSV file ") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

## .show() 
est utilisée pour afficher le contenu du DataFrame dans un format de tableau de lignes et de colonnes. Par défaut, il n’affiche que 20 lignes, et les valeurs des colonnes sont tronquées à 20 caractères.

In [9]:
sdfData = scSpark.read.csv('bank.csv', header=True, sep=",")
# Affiche le contenu du dataframe
sdfData.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [10]:
# show the dataframe columns
sdfData.columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

In [11]:
# show the schema of the dataframe
sdfData.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

# Data Exploration

## select()
sélectionner une ou plusieurs colonnes du DataFrame en passant les noms des colonnes que vous souhaitez sélectionner à la fonction select().

In [12]:
#By using col() function
from pyspark.sql.functions import col
sdfData.select(col("age"),col("job")).show()

+---+-----------+
|age|        job|
+---+-----------+
| 59|     admin.|
| 56|     admin.|
| 41| technician|
| 55|   services|
| 54|     admin.|
| 42| management|
| 56| management|
| 60|    retired|
| 37| technician|
| 28|   services|
| 38|     admin.|
| 30|blue-collar|
| 29| management|
| 46|blue-collar|
| 31| technician|
| 35| management|
| 32|blue-collar|
| 49|   services|
| 41|     admin.|
| 49|     admin.|
+---+-----------+
only showing top 20 rows

## .max()
La fonction max() renvoie la valeur maximale d’une colonne.

In [13]:
from pyspark.sql.functions import  max
sdfData.select(max("balance")).show(truncate=False)

+------------+
|max(balance)|
+------------+
|9994        |
+------------+

## groupBy

In [14]:
# Count by age
sdfData.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 51|  194|
| 54|  187|
| 29|  328|
| 69|   20|
| 42|  295|
| 73|   29|
| 87|    4|
| 64|   37|
| 30|  456|
| 34|  466|
| 59|  184|
| 28|  292|
| 22|   48|
| 85|    5|
| 35|  461|
| 52|  205|
| 71|   27|
| 47|  255|
| 43|  249|
| 31|  496|
+---+-----+
only showing top 20 rows

In [15]:
# Regrouper par deposit
sdfData.groupBy("deposit").count().show(10)

+-------+-----+
|deposit|count|
+-------+-----+
|     no| 5873|
|    yes| 5289|
+-------+-----+

##  statistiques récapitulatives

In [16]:
# Calcule les statistiques récapitulatives
sdfData.describe().show()

+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|               age|    job| marital|education|default|           balance|housing| loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|  11162|   11162|    11162|  11162|             11162|  11162|11162|   11162|             11162|11162|             11162|             11162|             11162|             11162|   11162|  11162|
|   mean|41.231947679627304|   null|    null|     null|   null|1528.5385235620856|   null| null|    null|15.658036194230425| null|371.99381831213043| 2.508421429851281| 51.33040673714388|0.8325568894463358|    null|   null|
| stddev|11.913369192215518|   null|    null|     null|   null| 3225.413325946149|   null| null|    null| 8.420739541006462| null|347.12838571630687|2.7220771816614824|108.75828197197717| 2.292007218670508|    null|   null|
|    min|                18| admin.|divorced|  primary|     no|                -1|     no|   no|cellular|                 1|  apr|                10|                 1|                -1|                 0| failure|     no|
|    max|                95|unknown|  single|  unknown|    yes|              9994|    yes|  yes| unknown|                 9|  sep|               999|                 9|                99|                 9| unknown|    yes|
+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+

In [17]:
 type(sdfData.describe())

pyspark.sql.dataframe.DataFrame

In [18]:
sdfData.describe().dtypes

[('summary', 'string'),
 ('age', 'string'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('default', 'string'),
 ('balance', 'string'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('contact', 'string'),
 ('day', 'string'),
 ('month', 'string'),
 ('duration', 'string'),
 ('campaign', 'string'),
 ('pdays', 'string'),
 ('previous', 'string'),
 ('poutcome', 'string'),
 ('deposit', 'string')]

## Supprimer des colonnes
La suppression d'une colonne peut être réalisée en ajoutant la liste des noms de colonnes dans la fonction drop()

In [19]:
dataframe_remove = sdfData.drop("day", "month","marital").show(8)

+---+----------+---------+-------+-------+-------+----+-------+--------+--------+-----+--------+--------+-------+
|age|       job|education|default|balance|housing|loan|contact|duration|campaign|pdays|previous|poutcome|deposit|
+---+----------+---------+-------+-------+-------+----+-------+--------+--------+-----+--------+--------+-------+
| 59|    admin.|secondary|     no|   2343|    yes|  no|unknown|    1042|       1|   -1|       0| unknown|    yes|
| 56|    admin.|secondary|     no|     45|     no|  no|unknown|    1467|       1|   -1|       0| unknown|    yes|
| 41|technician|secondary|     no|   1270|    yes|  no|unknown|    1389|       1|   -1|       0| unknown|    yes|
| 55|  services|secondary|     no|   2476|    yes|  no|unknown|     579|       1|   -1|       0| unknown|    yes|
| 54|    admin.| tertiary|     no|    184|     no|  no|unknown|     673|       2|   -1|       0| unknown|    yes|
| 42|management| tertiary|     no|      0|    yes| yes|unknown|     562|       2|   -1|       0| unknown|    yes|
| 56|management| tertiary|     no|    830|    yes| yes|unknown|    1201|       1|   -1|       0| unknown|    yes|
| 60|   retired|secondary|     no|    545|    yes|  no|unknown|    1030|       1|   -1|       0| unknown|    yes|
+---+----------+---------+-------+-------+-------+----+-------+--------+--------+-----+--------+--------+-------+
only showing top 8 rows

## filtre

In [20]:
sdfData.filter(sdfData.duration < 500).count()

8389

In [21]:
sdfData.filter(sdfData.duration > 500).count()

2766

In [22]:
sdfData.filter(sdfData.balance == 0.0).count()

774

# Utilisation d’une requête SQL dans un programme

Le SparkSession fournit une méthode appelée sql qui peut être utilisée pour exécuter une requête SQL. La méthode sql prend une instruction SQL comme argument et renvoie un DataFrame représentant le résultat de la requête donnée. Malheureusement, les requêtes SQL ne peuvent pas être exécutées directement sur un DataFrame.

Pour émettre des requêtes SQL sur un DataFrame existant, nous pouvons tirer parti de la fonction createOrReplaceTempView pour créer une table temporaire.

In [23]:
# Enregistrement du DataFrame comme une vue temporaire
sdfData.createOrReplaceTempView("bank")

# Utilisez la commande suivante pour sélectionner tous les enregistrements de la table bank . 
# Ici, nous utilisons la variable job pour capturer toutes les données des enregistrements.

sqlDF = sc.sql("SELECT * FROM bank WHERE job = 'admin.'")

# Pour afficher ces enregistrements, appelez la méthode show () .
sqlDF.show()

+---+------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|   job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 54|admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 38|admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 41|admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
| 28|admin.|divorced|secondary|     no|    785|    yes|  no|unknown|  8|  may|     442|       2|   -1|       0| unknown|    yes|
| 31|admin.| married|secondary|     no|    307|    yes|  no|unknown|  9|  may|     538|       1|   -1|       0| unknown|    yes|
| 40|admin.| married|secondary|     no|   1535|    yes|  no|unknown| 14|  may|     704|       1|   -1|       0| unknown|    yes|
| 41|admin.| married|  primary|     no|   -306|    yes|  no|unknown| 15|  may|     500|       1|   -1|       0| unknown|    yes|
| 29|admin.|  single|secondary|     no|    163|    yes| yes|unknown| 16|  may|     803|       1|   -1|       0| unknown|    yes|
| 50|admin.|divorced|secondary|     no|    363|    yes|  no|unknown| 16|  may|    1340|       1|   -1|       0| unknown|    yes|
| 41|admin.|  single|secondary|     no|   1020|    yes|  no|unknown| 19|  may|     882|       1|   -1|       0| unknown|    yes|
| 31|admin.| married|secondary|     no|     97|    yes|  no|unknown| 19|  may|     607|       1|   -1|       0| unknown|    yes|
| 31|admin.|  single|secondary|     no|    431|    yes| yes|unknown| 20|  may|    1045|       1|   -1|       0| unknown|    yes|
| 45|admin.| married|secondary|     no|    149|    yes|  no|unknown| 23|  may|     893|       3|   -1|       0| unknown|    yes|
| 32|admin.|  single|secondary|     no|    620|    yes|  no|unknown| 26|  may|    1234|       3|   -1|       0| unknown|    yes|
| 38|admin.|divorced|secondary|     no|    198|    yes|  no|unknown| 26|  may|     431|       2|   -1|       0| unknown|    yes|
| 28|admin.|  single|secondary|     no|    460|    yes|  no|unknown| 26|  may|     741|       6|   -1|       0| unknown|    yes|
| 37|admin.| married|secondary|     no|    274|    yes|  no|unknown| 27|  may|     731|       3|   -1|       0| unknown|    yes|
+---+------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

# Fin de la session Spark

In [24]:
 sc.stop()